
//CC = Click & Collect

.cc_titel{
  text-align: center;
  font-family: 'Joan', serif;
  font-size: 30px;
  color: black;
}
.cc_antal{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 50px;
  margin-left: 60px;
}
@media screen and (min-width: 750px){
  .cc_antal{
    text-align: center;
    font-family: 'Joan', serif solid;
    margin-top: 150px;
    margin-right: -150px;
    margin-left: 100px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1000px){
  .cc_antal{
    text-align: center;
    font-family: 'Joan', serif solid;
    margin-top: 150px;
    margin-right: -250px;
    margin-left: 260px;
    font-size: 25px;
  }
}
.cc_pris{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 50px;
  margin-right: 90px;
  margin-left: -40px;
}
@media screen and (min-width: 750px){
  .cc_pris{
    text-align: center;
    font-family: 'Joan', serif solid;
    margin-top: 150px;
    margin-right: 160px;
    margin-left: -100px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1000px){
  .cc_pris{
    text-align: center;
    font-family: 'Joan', serif solid;
    margin-top: 150px;
    margin-right: 260px;
    margin-left: -260px;
    font-size: 25px;
  }
}
.pekan_nugat_CC{
  margin-top: 30px;
}
.påske_æg_CC{
  margin-top: 30px;
}
.karamel_CC{
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn{
  margin-bottom: 15px;
  margin-left: 130px;
}
@media screen and (min-width: 750px){
  .btn{
   margin-bottom: 15px;
   margin-left: 295px;
  }
}
@media screen and (min-width: 1000px){
  .btn{
    margin-bottom: 15px;
    margin-left: 400px;
  }
}