.cc_titel{
  text-align: center;
  font-family: 'Joan', serif;
  font-size: 30px;
  color: black;
}
.cc_antal{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 50px;
  margin-left: 60px;
}
.cc_pris{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 50px;
  margin-right: 90px;
  margin-left: -40px;
}
.pekan_nugat_CC{
  margin-top: 30px;
}
.påske_æg_CC{
  margin-top: 30px;
}
.karamel_CC{
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn{
  margin-bottom: 15px;
  margin-left: 130px;
}
@media screen and (min-width: 750px){
  .btn{
   margin-bottom: 15px;
   margin-left: 295px;
  }
}
@media screen and (min-width: 1000px){
  .btn{
    margin-bottom: 15px;
    margin-left: 400px;
  }
}