.cc_titel{
  text-align: center;
  font-family: 'Joan', serif;
  font-size: 30px;
  color: black;
}
.cc_antal{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 30px;
  margin-left: 60px;
}
.cc_pris{
  text-align: center;
  font-family: 'Joan', serif;
  margin-top: 30px;
  margin-right: 90px;
  margin-left: -40px;
}