.chokolade_plet{

}

.tobias_picture {
  background-image: url("../Images/web done tobias.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}